.box {
  position: relative;
  cursor: pointer;
  width: 200px;
  height: 300px;
  margin: auto;
  margin-top: 100px;
  border-radius: 20px;
  border: 1px solid #fff;
  overflow: hidden;
  transition: all ease-in 0.7s;
  background-color: #96ff0d;
}

.anim {
  position: absolute;
  width: 25px;
  height: 25px;
  background-color: #96ff0d;
  animation: anim 3.5s infinite;
  top: 0;
  left: 0;
}

.anim2 {
  position: absolute;
  width: 25px;
  height: 25px;
  background-color: #96ff0d;
  animation: anim2 3.5s infinite;
  top: 0;
  left: 0;
}

.box:hover {
  background-color: #3b3a3a;
}

.box:hover .img1 {
  transform: translateY(-305px);
  scale: 0.5;
}

.box:hover .img2 {
  transform: translateY(-280px);
  scale: 1.1;
}

.box img {
  width: 100%;
  height: 100%;
  scale: 1;
  transition: all ease-in 0.7s;
}

.anim2{
    background: red;
}

@keyframes anim {
  0% {
    transform: translateY(20px);
    border-radius: 20px;
  }

  11% {
    margin-left: 170px;
    margin-top: 10px;
    border-radius: 20px;
  }

  21% {
    margin-top: 270px;
    margin-left: 170px;
    border-radius: 20px;
  }

  31% {
    margin-top: 270px;
    margin-left: 10px;
    border-radius: 20px;
  }

  101% {
    margin-top: 10px;
    margin-left: 10px;
    border-radius: 20px;
  }
}

@keyframes anim2 {
 0%{
        margin: 10px;
    }
    25%{
        margin-left: 10px;
        margin-top:  270px;
    }
    50%{
        margin-top: 270px;
        margin-left: 170px;
    }
    75%{
        margin-top: 0px;
        margin-left: 170px;
    }
    100%{
        margin-top: 10px;
        margin-left: 10px;
    }
}

