p{
    background-color: tan; 
    font-style: oblique;
    color: rgb(3, 53, 53);
}

.parag1{
    color: black;
    font-style: italic;
    text-shadow: 1px 1px 4px blueviolet;
}

.parag2{
    color: wheat;
    font-style: inherit;
    text-shadow: 5pc;
}

#desc1{
    color: blue;
    padding: 0cqmax;
    text-shadow: 4px 4px 10px;
}

footer{
    background-color: aqua; height: 100px;
}

body{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin: 0px;
}

section{
    max-width: 1320px;
    width: 80%;
    min-width: 600px;
}

html{
    margin-inline: auto;
}

header{
    background-color: green; height: 100px;
}
